/*Div Block having Quiz */
.quizcontent{width:100%;}

/*Start Page having quiz description and start button*/

#quizstartpage{
width:98%;margin:0.5em 0.5em;padding:0.5em 0.5em;
}
/*Main page having questions*/
#quizmainpage{
width:98%;margin:0.5em 0.5em;padding:0.5em 0.5em;
}
/*Final resut page */
#quizfinalpage{
width:98%;margin:0.5em 0.5em;padding:0.5em 0.5em;
}
/*Completion Screen (Progress) page */
#quizcompletepage{
width:98%;margin:0.5em 0.5em;padding:0.5em 0.5em;
}
/*Intermediate Screen (Progress) page */
#quizintermediatepage{
width:98%;margin:0.5em 0.5em;padding:0.5em 0.5em;
}
/* Quiz Description block*/
#quizdesc{
width:100%;margin:0em 0em 0.5em 0em;padding:0.5em 0em;
}
/*Intermediate Screen content*/
#quizintermediatecontent{
width:100%;margin:0em 0em 0.5em 0em;padding:0.5em 0em;
}
/*Completion Screen Content */
#quizcompletecontent{
width:100%;margin:0em 0em 0.5em 0em;padding:0.5em 0em;
}
/* Final result page content */
#quizfinalcontent{
width:100%;margin:0em 0em 0.5em 0em;padding:0.5em 0em;
}
/* Main Page Content */
/* Quiz Duration block */
#quizduration{}
/*Timer Content */
#wpcuebasicquiztimercontent{width:100%;}
#wpcuebasicquiztimercontent ul{list-style-type:none;margin:0;padding:0;}
#wpcuebasicquiztimercontent ul li{display:inline;}
.wpcuebasicquiztimertimeunit{ font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
font-size: 36px;
text-align: center;
text-shadow: 0 0 5px #00c6ff;}
.wpcuebasicquiztimerpoint{}
/*Main Page Content*/
#quizmaincontent{width:100%;}

/*Questions Page block*/
.questpage{width:100%;}
/*Section block*/
.rowsec{width:100%;,overflow:hidden;}
/*Question parent Block*/
.rowquest{width:100%;float:left;margin:0.5em 0em;padding-bottom:0.5em;}
.questnumber{float:left;width:30px;}
/*Main Question Block*/
.mainquest{float:left;}
/*Question text*/
.questdesc{}

.questdesc p{margin-bottom:0.125em;}
/*Answer Block*/
.answerdesc{}
/*Standard Question (Single Choice /Multiple Choice) List*/
ul.standardquestion{list-style-type:none;}

ul.standardquestion input{margin-right:0.25em;}
/*'Match the answers' Question*/

.leftcolumnquest{padding:0em 0.25em;}

.leftcolumnquest p{margin-bottom:0.125em;padding:0em 0.25em;}
ul.leftmatchquestion{list-style-type:none;padding:0em 0.75em;}
.rightcolumnquest{padding:0em 0.25em;}

.rightcolumnquest p{margin-bottom:0.125em;padding:0em 0.25em;}
ul.rightmatchquestion{list-style-type:none;padding:0em 0.75em;}
ul.resultbox{min-height:100px;border:0px solid;list-style-type:none;}
/*Sort Question*/
ul.sortquestion{list-style-type:none;margin:0.125em 0em;padding:0;width:50%;}
ul.sortquestion li{margin:0em 0.25em;padding:0.125em 0.125em;}

.markinput{margin:0;padding:0em 1em;}
/*Fill the gaps question*/
input.answrfillthegaps{margin:0em 0.125em;width:10em;padding:0em 0.25em;border-top:0;border-left:0;border-right:0;border-bottom:1px dashed;}
/* True/False Question */
ul.truefalsequestion{}
/*Question Tools*/
div.questtools{}
p.questtoolsmsg{}
div.questtoolsicons{}
ul.questtootlslist{margin-left:3em;padding-left:2em;}
ul.questtootlslist li{display: inline;list-style-type: none;padding-right: 20px;}
div.questtoolsblock{}
div.answercontainer{}
div.reportquestcontainer{}
input.reportquesttitle{}
input.reportquestdesc{}
input.saveerror{}
div.reportquestadded{}
div.errorentity{}
div.errortitle{}
div.errordesc{}
div.erroredit{width:4em;color:blue;}
div.errordelete{width:4em;color:green;}
div.showhintcontainer{}
/*Report Block*/
div.quizreport{}
ul.reportans{padding:0em;}
ul.singlerepans{list-style-type:none;}
ul.singlerepans li:before{content:'\25CB';padding:0em 0.125em;}
ul.singlerepans li.correctansreplied:before,ul.singlerepans li.wrongansreplied:before,ul.singlerepans li.ansreplied:before{content:'\25CF';padding:0em 0.125em;}
ul.multiplerepans{list-style-type:none;}

ul.multiplerepans li{padding:0em 0.125em;margin:0;}

ul.multiplerepans li:before{content:'\25A1';padding:0em;margin:0;}
ul.multiplerepans li.correctansreplied:before,ul.multiplerepans li.wrongansreplied:before,ul.multiplerepans li.ansreplied:before{content:'\25A0';padding:0em ;margin:0;}

ul.matchleftans{list-style-type:none;padding:0em 0.75em;}

ul.matchrightans{list-style-type:none;padding:0em 0.75em;}
div.matchrepans{}
ul.matchrepans{list-style-type:none;padding:0em 0.75em;}

div.matchrepans p.repliedanstext{margin:0em;padding:0em;}
div.matchcorans{}
ul.matchcorans{list-style-type:none;padding:0em 0.75em;}

div.matchcorans p.correctanstext{margin:0em;padding:0em;}
ul.sortans{list-style-type:none;}
div.sortrepans{}
div.sortrepans p.repliedanstext{margin:0em;padding:0em;}
ul.sortrepans{list-style-type:none;}
div.sorcorans{}
div.sortcorans p.correctanstext{margin:0em;padding:0em;}
ul.sortcorans{list-style-type:none;}
span.fillgapsrep{margin:0em 0.125em;width:10em;padding:0em 0.25em;border-top:0;border-left:0;border-right:0;border-bottom:1px dashed;}
span.fillgapscorrect{margin:0em 0.125em;width:10em;padding:0em 0.25em;border-top:0;border-left:0;border-right:0;border-bottom:1px dashed;}
ul.gapsrepans{list-style-type:none;}
li.repgaplist{}
li.correctgaplist{}
ul.truefalserepans{list-style-type:none;}
ul.truefalserepans li:before{content:'\25CB';padding:0em 0.25em;}
ul.openendedrepans{list-style-type:none;}
.correctansreplied{color:green;font-weight:600;}
.correctansreplied:after{content:'\2713';color:green;width:10px;height:10px;padding-left:0.5em;}
.wrongansreplied{color:red;font-weight:600;}
.wrongansreplied:after{content:"\2613";color:red;width:10px;height:10px;padding-left:0.5em;}
.ansreplied{color:green;font-weight:600;}
.correctans{}
.correctans:after{content:"\2713";width:10px;height:10px;}
/* Start / Continue Button Block */
.startbutton{}
/*Login Button block */
.logincontrol{}
/*Start button */
#startquizbutton{}
/*Continue button */
#continuequizbutton{}
/*Login Button*/
#quizloginbutton{}
/* Next /prev button block */
.paginationbutton{}
/*Previous Page button*/
.prevpagebutton{}
/*Next page button */
.nextpagebutton{}
/* Submit/ Save button block */
.quizsubmittools{width:100%;float:left;margin:0.5em 0em;padding:0.5em 0;}
/* Submit Quiz button */
.submitquizbut{}
/*Save Quiz button*/
.savequizbut{}
.entitymsg{font-size: 0.875em;margin:0.125em 0.5em;padding:0.125em 1em;}
.wp-dialog{display:none;}
#spinnerdiv{width:100%;float:left;margin:0em 0em;padding:0em;}
#spinnerdiv span.spinner{background:url(../img/spinner-2x.gif) 0 0/40px 40px no-repeat;width:90%;margin:0em 10.5em;padding:4em 4em;}
#processdiv{width:100%;float:left;display:none;margin:3em 0em;padding:1em 0em;}
#processtextdiv{width:100%;float:left;margin:0.5em 0em;padding:0em 1em;}
.hiddendiv{display:none;}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}